:root {
    --boja1: #263238;
    --bela: #fff;
    --bojPut: #546e7a;
    --zelena: #4caf50;
    --zuta: #324;
    --plava: blue;
    --bela_prozirna: rgb(255 255 255 / 68%);
}

* {
    margin: 0px;
    padding: 0px;
    color: var(--boja1);
    border-color: var(--boja1);
    user-select: none;
}

i {
    transition: opacity .3s;
}

*:not(i) {
    font-family: 'Work Sans', sans-serif;
}

body {
    display: flex;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#tabla {
    margin: auto;
    display: flex;
    width: 600px;
    height: 600px;
    border: 2px solid var(--boja1);
    border-radius: 10px;
    padding: 15px;
    max-width: 600px;
    max-height: 600px;
    position: relative;
}

#tabla ul[data-ul="opcije"] {
    list-style-type: none;
    display: inline-flex;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    border-bottom: 2px solid var(--boja1);
    padding: 10px;
}

#tabla ul[data-ul="opcije"] li {
    width: 100%;
    text-align: center;
}

#tabla .bazaAB.active {
    border: 3px solid var(--zelena);
}

#tabla .bazaAB.active i {
    opacity: 0.7;
    pointer-events: unset;
}

#tabla .bazaAB.active i:hover {
    opacity: 1 !important;
}

#tabla .bazaAB {
    font-size: 50px !important;
    display: inline;
    position: absolute;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) !important;
    enable-background: new 0 0 512 512 !important;
    border-radius: 6px;
    border: none;
    padding: 11px 12px;
    z-index: 33333;
}

#tabla .bazaAB i {
    pointer-events: none;
}

#tabla div-baza1 {
    top: 50px;
    font-size: 30px !important;
}

#tabla div-baza2 {
    bottom: 10px;
    font-size: 30px !important;
    right: 10px;
}

#tabla ul[data-ul="opcije"] #vremeigre {
    position: absolute;
    right: 10px;
    top: 45px;
}

#tabla div-put {
    top: 135px;
    position: absolute;
    left: 50px;
    right: 50px;
    bottom: 100px;
}

#tabla div-put i {
    font-size: 25px;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) !important;
    enable-background: new 0 0 512 512 !important;
    padding: 5px;
}

#tabla div-put div-i {
    position: absolute;
}

#tabla div-put div-i[data-ui="gore"] {
    top: 0px;
    display: inline-flex;
    left: 0px;
    right: 0px;
}

#tabla div-put div-i[data-ui="dole"] {
    bottom: 0px;
    display: inline-flex;
    left: 0px;
    right: 0px;
}

#tabla div-put div-i[data-ui="levo"] {
    left: 0px;
    display: grid;
    bottom: 0px;
    top: 0px;
}

#tabla div-put div-i[data-ui="desno"] {
    right: 0px;
    display: grid;
    bottom: 0px;
    top: 0px;
}

#tabla div-put div-i[data-ui="levo"] i, #tabla div-put div-i[data-ui="desno"] i {
    height: 100%;
}

#tabla div-put div-i[data-ui="gore"] i, #tabla div-put div-i[data-ui="dole"] i {
    width: 100%;
    text-align: center;
}

div-put div-i[data-ui="desno"] i {
    text-align: right;
}

div-put div-i[data-ui="levo"] i {
    text-align: left;
}

#tabla div-cocka {
    position: absolute;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 50px;
    top: 56px;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) !important;
    enable-background: new 0 0 512 512 !important;
    display: grid;
}

#tabla div-put-coll {
    display: inline-flex;
    width: fit-content;
    margin: auto;
    display: flex;
}

#tabla div-put-coll div-i {
    display: grid;
    position: unset;
}

div-put-coll[data-ul="left"] {
    display: grid !important;
    margin-left: 53px !important;
    width: fit-content !important;
    position: absolute;
}

div-put-coll[data-ul="right"] {
    display: grid !important;
    margin-right: 53px !important;
    width: fit-content !important;
    position: absolute;
    right: 0px;
}

div-put-coll[data-ul="bottom"] {
    position: absolute;
    bottom: -57px;
    left: 214px;
}

div-put-coll[data-ul="left"] div-i, div-put-coll[data-ul="right"] div-i {
    display: inline-flex !important;
}

div-i .i-put {
    color: var(--bojPut);
}

div-i .i-home-put {
    font-size: 30px !important;
}

.disabled {
    opacity: 0.5 !important;
    pointer-events: none !important;
}

#tabla[data-opt="loadet"] .bazaAB, #tabla[data-opt="loadet"] .div-put *, #tabla[data-opt="loadet"] .div-cocka, #tabla[data-opt="loadet"] div-put-coll {
    opacity: 0.5 !important;
    pointer-events: none !important;
}

.piun_active {
    outline: 2px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline-offset: 0px;
    background: var(--bela_prozirna);
}

div-cocka span{
    padding-top: 10px;
    font-size: 10px;
}