:root {
    --boja1: #333;
    --bela: #fff;
    --bojPut: #546e7a;
}

* {
    margin: 0px;
    padding: 0px;
    color: var(--boja1);
    border-color: var(--boja1);
    user-select: none;
}

i {
    transition: .3s;
}

*:not(i) {
    font-family: 'Fruktur', cursive;
}

body {
    display: flex;
}

#tabla {
    margin: auto;
    display: block;
    width: 600px;
    height: 600px;
    border: 2px solid var(--boja1);
    border-radius: 10px;
    padding: 15px;
    max-width: 600px;
    max-height: 600px;
    position: relative;
}

#tabla ul[data-ul="opcije"] {
    list-style-type: none;
    display: inline-flex;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    border-bottom: 2px solid var(--boja1);
    padding: 10px;
}

#tabla ul[data-ul="opcije"] li {
    width: 100%;
    text-align: center;
}

#tabla .bazaAB {
    font-size: 20px;
    display: inline;
    position: absolute;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) !important;
    enable-background: new 0 0 512 512 !important;
}

#tabla div-baza1 {
    top: 50px;
    font-size: 30px !important;
}

#tabla div-baza2 {
    bottom: 10px;
    font-size: 30px !important;
    right: 10px;
}

#tabla ul[data-ul="opcije"] #vremeigre {
    position: absolute;
    right: 10px;
    top: 45px;
}

#tabla div-put {
    top: 135px;
    position: absolute;
    left: 50px;
    right: 50px;
    bottom: 100px;
}

#tabla div-put i {
    font-size: 25px;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) !important;
    enable-background: new 0 0 512 512 !important;
  padding: 5px;
}

#tabla div-put div-i {
    position: absolute;
}

#tabla div-put div-i[data-ui="gore"] {
    top: 0px;
    display: inline-flex;
    left: 0px;
    right: 0px;
}

#tabla div-put div-i[data-ui="dole"] {
    bottom: 0px;
    display: inline-flex;
    left: 0px;
    right: 0px;
}

#tabla div-put div-i[data-ui="levo"] {
    left: 0px;
    display: grid;
    bottom: 0px;
    top: 0px;
}

#tabla div-put div-i[data-ui="desno"] {
    right: 0px;
    display: grid;
    bottom: 0px;
    top: 0px;
}

#tabla div-put div-i[data-ui="levo"] i, #tabla div-put div-i[data-ui="desno"] i {
    height: 100%;
}

#tabla div-put div-i[data-ui="gore"] i, #tabla div-put div-i[data-ui="dole"] i {
    width: 100%;
    text-align: center;
}

div-put div-i[data-ui="desno"] i {
    text-align: right;
}

div-put div-i[data-ui="levo"] i {
    text-align: left;
}

#tabla .div-cocka {
    position: absolute;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 50px;
    top: 56px;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) !important;
    enable-background: new 0 0 512 512 !important;
}

#tabla div-put-coll {
    display: inline-flex;
    width: fit-content;
    margin: auto;
    display: flex;
}

#tabla div-put-coll div-i {
    display: grid;
    position: unset;
}

div-put-coll[data-ul="left"] {
    display: grid !important;
    margin-left: 53px !important;
    width: fit-content !important;
    position: absolute;
}

div-put-coll[data-ul="right"] {
    display: grid !important;
    margin-right: 53px !important;
    width: fit-content !important;
    position: absolute;
    right: 0px;
}

div-put-coll[data-ul="bottom"] {
    position: absolute;
    bottom: -57px;
    left: 220px;
}

div-put-coll[data-ul="left"] div-i, div-put-coll[data-ul="right"] div-i {
    display: inline-flex !important;
}

div-i .i-put {
    color: var(--bojPut);
}