:root {
    --boja1: #263238;
    --bela: #fff;
    --bojPut: #546e7a;
    --zelena: #4caf50;
    --naradzasta_test: rgb(255, 81, 0);
    --plava: blue;
    --ljubivasta: purple;
    --roza_test: #EAD1DC;
    --bela_prozirna: rgb(255 255 255 / 68%);
}

* {
    margin: 0px;
    padding: 0px;
    color: var(--boja1);
    border-color: var(--boja1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: .3s;
}

.dark_theme {
    --boja1: #fff;
    --bela: #263238;
    --bojPut: #ffffffa1;
    --zelena: #4caf50;
    --naradzasta_test: rgb(255, 81, 0);
    --plava: blue;
    --ljubivasta: purple;
    --roza_test: #EAD1DC;
    --bela_prozirna: rgb(255 255 255 / 68%);
}

i {
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}

*:not(i) {
    font-family: 'Work Sans', sans-serif;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: var(--bela);
}

#tabla {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 600px;
    height: 600px;
    border: 2px solid var(--boja1);
    border-radius: 10px;
    padding: 15px;
    max-width: 600px;
    max-height: 600px;
    min-width: 600px;
    min-height: 600px;
    position: relative;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) !important;
    enable-background: new 0 0 512 512 !important;
    transform: scale(0);
    transition: .3s;
}

#tabla ul[data-ul="opcije"] {
    list-style-type: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    border-bottom: 2px solid var(--boja1);
    padding: 10px;
}

#tabla ul[data-ul="opcije"] li {
    width: 100%;
    text-align: center;
}

#tabla .bazaAB.active {
    border: 3px solid var(--zelena);
}

#tabla .bazaAB.active i {
    opacity: 0.7;
    pointer-events: unset;
}

#tabla .bazaAB.active i:hover {
    opacity: 1 !important;
}

#tabla .bazaAB {
    font-size: 50px !important;
    display: inline;
    position: absolute;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) !important;
    enable-background: new 0 0 512 512 !important;
    border-radius: 6px;
    border: none;
    padding: 11px 12px;
    z-index: 33333;
}

.purle_test {
    color: var(--ljubivasta) !important;
}

.green_test {
    color: var(--zelena) !important;
}

.naradzasta_test {
    color: var(--naradzasta_test) !important;
}

.roza_test {
    color: var(--roza_test) !important;
}

#tabla .bazaAB i {
    pointer-events: none;
}

#tabla div-baza1 {
    top: 55px;
    font-size: 30px !important;
}

#tabla div-baza2 {
    bottom: 10px;
    font-size: 30px !important;
    right: 10px;
}

#tabla ul[data-ul="opcije"] #vremeigre {
    position: absolute;
    right: 10px;
    top: 45px;
}

#tabla div-put {
    top: 135px;
    position: absolute;
    left: 50px;
    right: 50px;
    bottom: 100px;
    overflow: visible;
}

#tabla div-put i {
    font-size: 25px;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) !important;
    enable-background: new 0 0 512 512 !important;
    padding: 5px;
    width: 25px;
    height: 25px;
}

#tabla div-put div-i {
    position: absolute;
    ;
}

#tabla div-put div-i[data-ui="gore"] {
    top: 0px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    left: 0px;
    right: 0px;
}

#tabla div-put div-i[data-ui="dole"] {
    bottom: 0px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    left: 0px;
    right: 0px;
}

#tabla div-put div-i[data-ui="levo"] {
    left: 0px;
    display: -ms-grid;
    display: grid;
    bottom: 0px;
    top: 0px;
}

#tabla div-put div-i[data-ui="desno"] {
    right: 0px;
    display: -ms-grid;
    display: grid;
    bottom: 0px;
    top: 0px;
}

#tabla div-put div-i[data-ui="levo"] i, #tabla div-put div-i[data-ui="desno"] i {
    height: 100%;
}

#tabla div-put div-i[data-ui="gore"] i, #tabla div-put div-i[data-ui="dole"] i {
    width: 100%;
    text-align: center;
}

div-put div-i[data-ui="desno"] i {
    text-align: right;
}

div-put div-i[data-ui="levo"] i {
    text-align: left;
}

#tabla div-cocka {
    position: absolute;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 50px;
    top: 56px;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) !important;
    enable-background: new 0 0 512 512 !important;
    display: -ms-grid;
    display: grid;
}

#tabla div-put-coll {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#tabla div-put-coll div-i {
    display: -ms-grid;
    display: grid;
    position: unset;
}

div-put-coll[data-ul="left"] {
    display: -ms-grid !important;
    display: grid !important;
    margin-left: 53px !important;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    position: absolute;
}

div-put-coll[data-ul="right"] {
    display: -ms-grid !important;
    display: grid !important;
    margin-right: 53px !important;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    position: absolute;
    right: 0px;
}

div-put-coll[data-ul="bottom"] {
    position: absolute;
    bottom: -57px;
    left: 214px;
}

div-put-coll[data-ul="left"] div-i, div-put-coll[data-ul="right"] div-i {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
}

div-i .i-put {
    color: var(--bojPut);
}

div-i .i-home-put {
    font-size: 30px !important;
}

.disabled {
    opacity: 0.5 !important;
    pointer-events: none !important;
}

#tabla[data-opt="loadet"] .bazaAB, #tabla[data-opt="loadet"] .div-put *, #tabla[data-opt="loadet"] .div-cocka, #tabla[data-opt="loadet"] div-put-coll {
    opacity: 0.5 !important;
    pointer-events: none !important;
}

.piun_active {
    outline: 2px solid;
    border-radius: 5px;
    outline-offset: 0px;
    background: var(--bela_prozirna);
}

div-cocka span {
    padding-top: 10px;
    font-size: 10px;
}

div-put i {
    pointer-events: none
}

div-put[active="1"] .fa-horse-head:not(.i-f-home) {
    outline: 2px solid;
    border-radius: 5px;
    outline-offset: 0px;
    background: var(--bela_prozirna);
    pointer-events: unset !important;
}

div-put[active="2"] .fa-user:not(.i-f-home) {
    outline: 2px solid;
    border-radius: 5px;
    outline-offset: 0px;
    background: var(--bela_prozirna);
    pointer-events: unset !important;
}

div-zam {
    position: absolute;
    font-size: 50px;
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 49px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    pointer-events: none;
}

div-zam i {
    display: block !important;
    margin: auto;
    font-size: 50px !important;
    width: auto !important;
    height: auto !important;
    color: var(--bojPut);
    pointer-events: none;
}

.koSledeciIgra {
    outline: 1px solid;
    outline-offset: 2px;
    -webkit-border-radius: 1px;
}

.dvaPijunaUjednomIvise::after {
    content: 0;
    font-weight: normal;
    position: absolute;
    margin-top: -50px;
    background: var(--bela);
    padding: 4px;
    border: 1px solid;
    width: fit-content;
    font-size: 15px;
    margin-left: 20px;
    border-radius: 10px;
}

div-prijeload {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    background: var(--bela);
    height: 100%;
    z-index: 333;
    display: flex;
    text-align: center;
    transition: opacity .3s !important;
}

div-prijeload, div-prijeload * {
    overflow: hidden !important;
}

div-prijeload dp-content {
    display: grid;
    margin: auto;
    font-size: 50px;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) !important;
    enable-background: new 0 0 512 512 !important;
}

div-prijeload dp-content logo {
    font-size: 150px;
}

div-prijeload dp-content i {
    background: linear-gradient(30deg, var(--boja1), var(--bojPut));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    background-attachment: fixed;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}

div-prijeload {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    background: var(--bela);
    height: 100%;
    z-index: 333;
    display: flex;
    text-align: center;
    transition: .3s;
    opacity: 1;
}

div-prijeload, div-prijeload * {
    overflow: hidden !important;
}

div-prijeload dp-content {
    display: grid;
    margin: auto;
    font-size: 50px;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) !important;
    enable-background: new 0 0 512 512 !important;
    pointer-events: none;
}

div-prijeload dp-content logo {
    font-size: 150px;
}

div-prijeload dp-content i {
    background: linear-gradient(151deg, var(--boja1), var(--bojPut));
    background-size: 400% 400%;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    animation: prijeload_kockice 3s infinite ease-out;
    transition: .3s;
}

prijeload-kockice i[data-ui="H"] {
    opacity: 0;
    transition: .3s;
}

.prijeload_complete {
    opacity: 1 !important;
}

@-webkit-keyframes prijeload_kockice {
    0% {
        background-position: 5% 0%
    }
    50% {
        background-position: 96% 100%
    }
    100% {
        background-position: 5% 0%
    }
}

@-moz-keyframes prijeload_kockice {
    0% {
        background-position: 5% 0%
    }
    50% {
        background-position: 96% 100%
    }
    100% {
        background-position: 5% 0%
    }
}

@-o-keyframes prijeload_kockice {
    0% {
        background-position: 5% 0%
    }
    50% {
        background-position: 96% 100%
    }
    100% {
        background-position: 5% 0%
    }
}

@keyframes prijeload_kockice {
    0% {
        background-position: 5% 0%
    }
    50% {
        background-position: 96% 100%
    }
    100% {
        background-position: 5% 0%
    }
}

.gitub_menjanje, .tema_menjanje {
    position: fixed;
    bottom: 20px;
    z-index: 33333;
    left: 20px;
    /* background: var(--bojPut); */
    padding: 10px;
    border-radius: 6px;
    color: var(--bojPut);
    height: 16px !important;
    width: 16px !important;
    text-align: center;
    transition: .3s;
    border: 2px solid var(--bojPut);
}

.gitub_menjanje {
    bottom: 64px;
    left: 20px;
}

.gitub_menjanje:hover, .tema_menjanje:hover {
    background: var(--bojPut);
    color: var(--bela);
    border-color: var(--bojPut);
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

ul[data-ul="opcije"] li[data-opt="ui_dropdown"] {
    width: 30px !important;
    text-align: left !important;
    display: none;
}

ul[data-ul="opcije"] li[data-opt="ui_dropdown"] ul {
    list-style-type: none;
    display: grid;
    position: absolute;
    z-index: 333;
    border: 2px solid;
    width: fit-content;
    border-radius: 6px;
    background: var(--bela_prozirna);
    right: 10px;
    margin-top: 5px;
}

ul[data-ul="opcije"] li[data-opt="ui_dropdown"] li {
    padding: 5px 10px;
    text-align: left !important;
    width: unset !important;
    color: var(--bela) !important;
}

/* */


.tip:hover {
    cursor: help;
    position: relative
}

.tip tip-span {
    display: none;
    color: var(--bela);
    background: var(--bojPut);
    opacity: 0;
    border-radius: 4px;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) !important;
    enable-background: new 0 0 512 512 !important;
    transition: opacity .3s !important;
}

.tip:hover tip-span {
    display: block;
    border: none;
    padding: 5px 20px 5px 5px;
    opacity: 0.9;
    z-index: 100;
    left: 0px;
    margin: 10px;
    width: 250px;
    position: absolute;
    top: 10px;
    text-decoration: none
}